/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: block;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-image: url("../img/wallpaper.jpg");
}

div.borde {

  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.contenedor {
  margin: 90px 30% 0 30%;
  height: 550px;
  min-width: 400px;
  background-color: rgba(255, 51, 0, 0.5);
  border-radius: 20px;
  box-shadow: 14px 16px 20px #0000008c;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.contenedor::before {
  content: '';
  position: absolute;
  height: 680px;
  width: 680px;
  background-image: conic-gradient(#0b17ba 20deg, transparent 120deg);
  animation: rotar 2s linear infinite;
}


@keyframes rotar {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

div.contenedor::after {
  content: '';
  position: absolute;
  height: 540px;
  width: 390px;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  box-shadow: inset 14px 16px 20px #0000008c;
}

img {
  width: 400px;

}

div.img {
  top: -20%;
  left: 4%;
  text-align: center;
  z-index: 2;
  position: absolute;

}

div.contenedor-principal {
  margin-bottom: -200px;
}

a {
  display: block;
  font-weight: 700px;
  margin: 15px auto;
  padding: 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  font-family: 'Oswaldo', sans-serif;
  width: 287px;
  overflow: hidden;
  border-radius: 40px;
  z-index: 2;
  transition: .5s;
}

a span {
  position: relative;
  font-size: 27px;

  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 3px;
  z-index: 2;
}

a .liquid {
  position: absolute;
  top: -80px;
  left: 0;
  width: 287px;
  height: 230px;
  background-color: #0b17ba;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
  transition: .5s;
}

a .liquid::after,
a .liquid::before {
  content: '';
  width: 170%;
  height: 250%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
}

a .liquid::before {
  border-radius: 45%;
  background-color: rgba(20, 20, 20, 1);
  animation: animate 10s linear infinite;
}

a .liquid::after {
  border-radius: 45%;
  background-color: rgba(20, 20, 20, .5);
  animation: animate 10s linear infinite;
}

a.contenedor-boton:hover .liquid {
  top: -60px;
}

a.contenedor-boton:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px #3b1106;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

form {
  position: absolute;
  z-index: 2;
}

h2 {
  padding: 30px 0px;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 33px;
  text-align: center;
  color: white;
  letter-spacing: 3px;
  font-weight: 100px;
}

.registro {
  margin: -420px auto 0 auto;
  position: absolute;
  z-index: 2;
  font-family: 'PT Sans', sans-serif;
  font-size: 33px;
  text-align: center;
  color: white;
  letter-spacing: 3px;
  font-weight: 100px;
}

div.caja {
  position: absolute;
  z-index: 2;
  margin: -100px 0 auto -25%;
}

div.campo {
  color: white;
  padding: 0;
  margin: 50px 0;
  position: relative;
}

div.campo input {
  /* padding: 10px 5px 5px;
  position: relative;
  width: 100%; */
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  z-index: 3;
}

div.campo span {
  position: absolute;
  padding: 0;
  margin: 0 auto;
  color: white;
  transition: .5s;
  left: 0;
  pointer-events: none;
  font-family: 'PT Sans', sans-serif;
}

div.campo input:valid~span,
div.campo input:focus~span {

  transform: translateX(0px) translateY(-24px);
}

div.campo i {
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: #0b17ba;
  border: 4px;
  transition: .5s;
  pointer-events: none;
  z-index: 1;

}

/* div.campo input:valid ~ i,
div.campo input:focus ~ i{
  height: 22.4px;
}  */
div.button {
  height: 50px;
  width: 200px;
  background-color: rgba(51, 47, 46, .5);
  border-radius: 20px;
  box-shadow: 14px 16px 20px #0000008c;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
}

div.button::before {
  content: '';
  position: absolute;
  height: 350px;
  width: 150px;
  background-image: conic-gradient(#0b17ba 20deg, transparent 120deg);
  animation: rotar 2s linear infinite;
}

div.button::after {
  content: '';
  position: absolute;
  height: 45px;
  width: 195px;
  background-color: rgba(11, 23, 186, 1);
  border-radius: 20px;
  box-shadow: inset 14px 16px 20px #0000008c;
}

.boton-registrar {
  position: absolute;
  z-index: 4;
  background-color: transparent;
  border: none;
  height: 45px;
  width: 195px;
  cursor: pointer;
  font-family: 'Oswaldo', sans-serif;
  letter-spacing: 2px;
  color: white;
}

div.button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px #0000008c;
}




/* Ventana compilador*/






.contenido-header {
  background-color: black;
  color: white;
  text-align: left;
  position: relative;
  display:none;
  box-shadow: 0 0 20px #1b1b4d;
}

.contenido-header span {
  font-size: 15px;
  margin: 0 20px 0 0;
  font-family: 'Roboto', sans-serif;
  transition: all .8s ease;
  cursor: pointer;


}


.contenido-header span:first-child {
  margin-left: 20px;
}

/* .contenido-header span:hover {
  color: #b3d4fc;
} */

.menu-desplegable {
  list-style: none;
  text-decoration: none;
  position: absolute;
  display: none;
  border-radius: 10px;
  border: .5px solid #b3d4fc;
  background-color: #000;
  margin: 0;
  padding: 0;
}

.uno {
  margin-left: 20px;
}

.dos {
  margin-left: 100px !important;
}

.tres {
  margin-left: 210px;
}

.menu-desplegable .cuatro {
  margin-left: 80px;
}

.menu-desplegable .cinco {
  margin-left: 80px;
}

.menu-desplegable .seis {
  margin-left: 80px;
}


div ul li a {
  color: white;
  text-align: left;
  padding: 5px;
  margin: 15px 5px;
  transition: all .2s ease;
}

div ul li a:hover {
  color: #b3d4fc;
}

.separador {
  height: 1px;
  background-color: #b3d4fc;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 20px #b3d4fc;
}


.explorador {
  float: left;
  margin: 0;
  width: 15%;
  height: 92vh;
  text-align: left;
  background-color: #000;
  border-right: 2px solid #476b9d;
  display: block;
}

.editor-texto {
  width: 85%;
  height: 92vh;
  background-color: black;
  border: none;
  outline: none;
  resize: none;
  color: #fff;
  font-family: 'Fira Code', sans-serif;
  padding: 10px;

}

.compilador {
  margin: 0;
  padding: 0;
}

.cajaTexto {
  width: 100%;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  resize: none;
  font-family: 'Fira Code', sans-serif;
}

.barra-de-ejecucion {
  width: 100%;

  background-color: #000;
  margin: 0;
  display: block;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}




/*Ventana presentacion*/


div .contenedor-header {
  width: 100%;
  height: 90vh;
  background-color: #0b17ba;
}

header .logo {
  float: right;
  height: 150px;
}

img {
  width: 30%;
}

.goRegister {
  color: white;
  text-decoration: none;
}

.registerWrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyrightWrapper {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Ventana presentacion*/




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*NAVBAR MOBILE START*/
.mobileContent{
  background-color: #000;
  display: flex;

}

.wrappers{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid white;
}

.mobileContent span{
  color: white;
}


/*NAVBAR MOBILE END*/



@media(min-width: 650px) {
  .contenido-header{
    display:block;
  }
  .mobileContent{
    display: none;
  }
}

