h1 {
    color: blue;
}

body {
    margin: 0;
    padding-top: 0vh;
    height: 100%;
    width: 100%;
    background: black;
    font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
    position: relative;
}

.header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    position: sticky;
    top: 0px;
    

    animation-name: enhance-header;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-timeline: scroll(root block);
    animation-range: 0 200px;
    z-index: 10;


}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.header .nav-links li a:hover{
    color: red;
}

.header .btn button{
    font-weight: 700;
    color: red;
    padding: 9px 25px;
    background: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
}

.header .btn button:hover{
    background-color: lightgray;
    color: purple;
    transform: scale(1.1);
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all .3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.link{
    color: white;
    /*text-decoration: underline;*/
}

.link:hover{
    text-decoration: underline;
    cursor: pointer;
}


/*

nav{
    display: grid;
    width: 100%;
    grid-auto-flow: column;
    grid-template-columns: 50px ;
    grid-template-rows: 50px;
    margin: 0 auto 0;
    justify-items: center;
    align-items: center;
    column-gap: 0px;
    border-radius: 8px;
    background-color: black;
    position: sticky;
    top: 0px;
    

    animation-name: enhance-header;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-timeline: scroll(root block);
    animation-range: 0 200px;
    z-index: 10;
}


nav #logo{
    height: 50px;
    width: 50px;
    justify-self: left;
    padding-left: 5px;
}

nav #logo:hover{
    cursor: pointer;
}

.nav-link{
    color: white;
    font-size: 20;
    text-decoration: underline;
}



.nav-link:hover{
    text-decoration: underline;
    cursor: pointer;
}

*/



main{
    /*padding-top: 100vh;*/
    display: grid;
    row-gap: 50px;
    padding: 200px;
}

/*
#sticky-header{
    color: white;
    height: 100vh;
    width: 100%;
    background-image: url("images/fitmi.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-blend-mode: soft-light;
    display: grid;
    place-items: center;
    text-align: center;
    font-size: calc(4vw + 1em);
    position: fixed;
    top: 0;

    animation: sticky-header-move-and-size linear forwards;
    animation-timeline: scroll(root block);
    animation-range: 0vh 80vh;
    z-index: 1;

}

@keyframes sticky-header-move-and-size {
    0%{
        background-position: 50% 0;
        height: 100vh;
        font-size: calc(4vw + 1em);
    }

    100%{
        background-position: 50% 100%;
        background-color: rgba(53, 51, 51, .4);
        backdrop-filter: blur(5px);
        height: 10vh;
        font-size: 2em;
    }
}

*/

@keyframes enhance-header {
    to{
        background: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(5px);
        /*font-size: 22px;*/
        /*color: black;*/
    }
}

#somos{
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas: 
        "titulo" "."
        "texto" "."
    ;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
}

#somos h2{
    max-width: 100%;
    color: red;
    font-size: 45px;
    grid-area: titulo;
}

#somos p{
    color: white;
    font-size: 30px;
    grid-area: texto;
}

#somos img{
    height: 200px;
    width: 200px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    justify-self: center;
    align-self: center;
}

#historia{
    padding-top: 6vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr;

    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 50%;
}

#historia h2{
    color: red;
    font-size: 45px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    /*grid-area: titulo;*/
}

#historia p{
    color: white;
    font-size: 30px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
    /*grid-area: texto;*/
}

#historia img{
    height: 200px;
    width: 200px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    justify-self: center;
    align-self: center;
}


#objetivos{
    padding-top: 6vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr 50px;

    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 50%;
}

#objetivos h2{
    color: red;
    font-size: 45px;
    
}

#objetivos p{
    color: white;
    font-size: 25px;
    
}

#objetivos footer{
    font-size: 20px;
    
}

#objetivos img{
    height: 125px;
    width: 125px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 7;
    justify-self: center;
    align-self: center;
}

#equipo{
    padding-top: 27vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 52px 1fr;
    place-items: center;
    row-gap: 0px;

    
}

#equipo h2{
    color: red;
    font-size: 50px;

    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 35%;
}

#equipo p{
    color: white;
    font-size: 30px;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 35%;
}


#equipo #dilan{
    padding-top: 0vh;

    color: white;
    font-size: 30px;
    text-align: center;


    animation: reveal-team linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;

    & img{
        border-radius: 8px;
        width: 300px;
        height: 300px;
    }
}

#equipo #jose{
    padding-top: 0vh;

    color: white;
    font-size: 30px;
    text-align: center;


    animation: reveal-team linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;

    & img{
        border-radius: 8px;
        width: 300px;
        height: 300px;
    }
}

#equipo #yoiber{
    padding-top: 0vh;

    color: white;
    font-size: 30px;
    text-align: center;


    animation: reveal-team linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;

    & img{
        border-radius: 8px;
        width: 300px;
        height: 300px;
    }
}

#equipo #zorrilla{
    padding-top: 0vh;

    color: white;
    font-size: 30px;
    text-align: center;


    animation: reveal-team linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;

    & img{
        border-radius: 8px;
        width: 300px;
        height: 300px;
    }
}

footer{
    width: 100%;
    /* position: absolute; */
    left: 0;
    bottom: 0;
    padding: 2rem 0%;
    background-color: #0e0e0e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logoFooter{
    height: 80px;
    margin-bottom: 1rem;
}

.social-icons-container, .footer-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.social-icon{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #f2f2f2;
    background-image: url(src/img/rookiex-logo.png);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;
}

.social-icon:hover{
    background-color: #121212;
    filter: invert(1);
}

.social-icon:nth-child(2){
    background-image: url(src/img/rookiex-logo.png);
}

.social-icon:nth-child(3){
    background-image: url(src/img/rookiex-logo.png);
}

.social-icon:nth-child(4){
    background-image: url(src/img/rookiex-logo.png);
}

.footer-menu-container{
    list-style-type: none;
    color: #f2f2f2;
    font-size: 18px;
}

.menu-item{
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: .6;
}

.menu-item:hover{
    opacity: 1;
}

.copyright{
    color: #f2f2f2;
    opacity: .3;
    text-align: center;
}


@keyframes reveal {
    0%{
        opacity: 0;
        translate: 0 300px;
        scale: .5;
    }

    100%{
        opacity: 1;
        translate: 0 0px;
        scale: 1;
    }
}

@keyframes reveal-team {
    0%{
        opacity: 0;
        translate: 0 300px;
        scale: .2;
    }

    100%{
        opacity: 1;
        translate: 0 0px;
        scale: 1;
    }
}
