

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}



.container {
    border: solid 1px rgba(255, 255, 255, 0.2);
}

table {
    color: #000;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
    width: 90%;
    margin-left: 10%;
}

thead {
    background: rgba(58, 113, 251, 0.4);
}

th {
    padding: 20px 15px ;
    font-weight: 700;
    text-transform: uppercase;
}

td {
    padding: 15px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    text-align: center;
}


tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background: rgba(35, 40, 89, 0.4);
}
.volver{
    position: absolute;
    top: 90%;
    left: 25%;
    
}

a{
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    color: #60e2e7;
    transition: all .5s ease-out;
    font-weight: bold;
    transition: all .5s ease;
    padding: 5px;
    border-radius: 4px;
}
.boton:hover{
    text-shadow: 0 0 10px #60e2e7;
    border: 2px solid #60e2e7;
}
.contenedor{
    width: 100%;
    height: 10vh;
    background: linear-gradient(to left, #100e2d, #000);
}
.imagen1{
    height: 8vh;
    margin: 2vh auto 0 auto;
}
aside{
    float: left;
    width: 10%;
    position: fixed;
    
}
.barra-lateral{
    height: 100vh;
    background: linear-gradient(to bottom, #000, #100e2d);
    border-right: 2px solid #0b1998;
    text-align: center;
    position: relative;
}
h2{
    padding: 10px 0;
    font-family: 'Fira Code', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0 auto 0 10%;
    text-align: center;
    border-bottom: 1px solid #0b1998;
}
main{
    position: relative;
}
.menu-movil{
    position: absolute;
    top: 0%;
    left: 10%;
    right: 0;
    bottom: 0;
    width: 30%;   
    margin: 0 auto;
    
}
.contenedor-movil{
    
    height: 80vh;
    background-color: white;
    border-radius: 10px;
    border: 3px solid black;
    box-shadow: 0px 0px 20px #0b1998;
    display: none;
}
.barra-superior{
    width: 100%;
    height: 12vh;
    background: linear-gradient(to bottom, #000, #100e2d);
    text-align: center;
}
.imagen2{
    height: 12vh;
    margin: 0 auto;
}
ul{
    margin: auto;
    text-align: center;
}
li{
    list-style: none;
    text-decoration: none;
    padding: 15px;  
}
h3{
    padding: 5px;
}





