/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

/*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Customize the background color to match your design.
   */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
   * A better looking default horizontal rule
   */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
   * Remove default fieldset styles.
   */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
   * Allow only vertical resizing of textareas.
   */

textarea {
  resize: vertical;
}

/* ==========================================================================
     Author's custom styles
     ========================================================================== */



/*Ventana presentacion*/

header {
  font-size: 12px;
  position: static;
  margin: 0;
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  background: transparent;
  z-index: 1;
}



@keyframes fondo{
  0% {
    width: 0%;
  }

  /* 50%{opacity: 50%;} */
  100% {
    width: 100%;
  }
}




.logo {
  float: left;
  height: 20;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  animation: aparicion 1.5s ease-in;
}

.logo img {
  padding: 20px;
  height: 4em;
  width: 6em;
}



@keyframes aparicion {
  0% {
    opacity: 0;
  }

  /* 50%{opacity: 50%;} */
  100% {
    opacity: 100%;
  }
}

.imagen-inicio img {
  
  width: 100%;
  height: 100vh;

}

.imagen-inicio{
  position: relative;
  z-index: -1;
}

.mensaje-inicial{
  
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .6);
  color: #fff;
  font-size: 36px;
  text-align: center;
}
.mensaje-inicial h1{
  width: 50%;
}

nav {
  flex: 1;
  margin: auto;
  text-align: center;
  width: 80%;
  display: none;
  justify-content: center;
  align-items: center;
}

nav ul {
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

nav ul li {
  float: right;
  text-decoration: none;
  list-style: none;
  animation: aparicion  ease-in;
  
}

nav ul li a {
  text-decoration: none;
  color: #60e2e7;

  padding: 10px;
  border-radius: 5px;
  transition: all .5s ease-out;
}

nav ul li:last-child span{
  background-color: #730704;

}

span {
  width: 100% !important;
  color: #DE6706;
  font-family: 'Fira Code', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  transition: all .5s ease-out;
  cursor: pointer;
}



span:hover {
  text-shadow: 0 0 10px #DE6706;
  border: 2px solid #DE6706;
  

} 






/*Ventana presentacion*/




/* ==========================================================================
     Helper classes
     ========================================================================== */

/*
   * Hide visually and from screen readers
   */

.hidden,
[hidden] {
  display: none !important;
}

/*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
   * Extends the .visually-hidden class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
   * Hide visually and from screen readers, but maintain layout
   */

.invisible {
  visibility: hidden;
}

/*
   * Clearfix: contain floats
   *
   * The use of `table` rather than `block` is only necessary if using
   * `::before` to contain the top-margins of child elements.
   */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


/*MOBILE MENU START*/

.navegacionMobile{
  display: flex;
  flex:1;
  justify-content: flex-end;
  visibility: visible;
}

.menuBtn{
  width: auto;
  font-size: 20px;
  padding: 20px;
  color: #60e2e7;
  cursor: pointer;
}

.mobileMenu{
  display: none;
  font-size: 25px;
  position: fixed;
  left: calc(100vw - 260px);
  top: 0;
  z-index: 999;
  height: 100vh;
  width: 250px;
  background-color: #222;
}


.closeWrapper{
  color: #60e2e7;
  cursor: pointer;
}

.mobileMenuTop{
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

.mobileMenu ul{
  display:block;
  padding: 20px;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 20px;
}

.mobileMenu ul a{
  text-decoration: none;
}

.mobileMenu ul span{
  padding: 0;
}


/*MOBILE MENU END*/

@media(min-width: 900px){
  .boton{
    font-size: 5em;
    margin-bottom: 0 !important;
  }

  header {
    position: fixed;
    font-size: 15px;
  }

  .empieza-a-programar{
    height: 100vh;
  }

}


@media(min-width: 650px){
  .boton{
    font-size: 3.4em;
    width: 19.5ch;
    margin-bottom: 200px;
  }
  nav{
    display: flex;
  }

  .empieza-a-programar{
    height: 100vh;
  }

  .navegacionMobile{
    display: none;
    visibility: hidden;
  }
}